h2{
	color: red;
}

#landing {
	text-align: center;
	padding-top: 100px;
}

/*section properties*/
section {
	margin-top: 50px;
	padding-left: 20px;
}

/*Nested div*/
#blurb > a { 
	margin: 0 20px; /*0 on x, 50 on y*/
}

/*change font*/
body {
	font-family: 'Chakra Petch', sans-serif;
}

/*classes - reusable template*/
.lead {
	font-size: 1.2em;
	font-weight: lighter;
}

#photo {
	border-radius: 30%;
}